In [13]:
#Program to print Hello World
print("Hello World!")

Hello World!

In [16]:
#Program to calculate sum of two numbers
n1 = input("Enter first number: ")
n2 = input("Enter second number: ")
sum = int(n1)+int(n2)
print("Sum of " + n1 + " & " + n2 + " = " + str(sum))

Enter first number: 6
Enter second number: 4
Sum of 6 & 4 = 10

In [3]:
#Program to find area and circumference of circle
import math
r = input("Enter radius: ")
area = math.pi*float(r)**2
cir = 2*math.pi*float(r)
print("Area = " + str(area))
print("circumference = " + str(cir))

Enter radius: 3
Area = 28.274333882308138
circumference = 18.84955592153876

In [25]:
#Program to find simple interest
p = float(input("Enter principle amount: "))
r = float(input("Enter rate of interest: "))
n = int(input("Enter no. of years: "))
si = (p*r*n)/100
print("Simple Interest = " + str(si))

Enter principle amount: 15000
Enter rate of interest: 2
Enter no. of years: 2
Simple Interest = 600.0

In [26]:
#Program to convert temperature from degree centigrade to degree fahrenheit
temp = float(input("Enter temperature in degree centigrade: "))
conv = (temp*1.8)+32
print(str(temp) + " in degree fahrenheit = " + str(conv))

Enter temperature in degree centigrade: 98
98.0 in degree fahrenheit = 208.4

In [28]:
#Prohgram to print the marksheet of a student
marks=[]
total=0
for i in range(0,5):
    list=float(input())
    marks.append(list)
    total=total+marks[i]
per=(total/500)*100
print("Total marks= " + str(total))
print("Percentage = " + str(per))

40
60
80
90
45
Total marks= 315.0
Percentage = 63.0

In [31]:
#Program to swap two numbers using third variable
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Before swapping \n a=" + str(a) + "\t b=" + str(b))
c=a
a=b
b=c
print("After swapping \n a=" + str(a) + "\t b=" + str(b))

Enter first number: 4
Enter second number: 8
Before swapping
 a=4	 b=8
After swapping
 a=8	 b=4

In [33]:
#Program to swap two numbers without using third variable
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Before swapping \n a=" + str(a) + "\t b=" + str(b))
a = a+b
b = a-b
a = a-b
print("After swapping \n a=" + str(a) + "\t b=" + str(b))

Enter first number: 12
Enter second number: 45
Before swapping
 a=12	 b=45
After swapping
 a=45	 b=12

In [36]:
#Program to calculate gross salary
bsal = float(input("Enter basic salary: "))
print("Dearness Allowance is 10%")
print("House Rent Allowance is 12%")
da = (10*bsal)/100
hra = (12*bsal)/100
print("Dearness Allowance = " + str(da))
print("House Rent Allowance = " + str(hra))
grs = bsal + da + hra
print("Gross Salary = " + str(grs))

Enter basic salary: 75000
Dearness Allowance is 10%
House Rent Allowance is 12%
Dearness Allowance = 7500.0
House Rent Allowance = 9000.0
Gross Salary = 91500.0

In [41]:
#Program to find greatest of two numbers
a = input("Enter first number: ")
b = input("Enter second number: ")
if a>b:
    print(a + " is greater than " + b)
elif a<b:
    print(b + " is greater than " + a)
else:
    print(a + " and " + b + " are equal.")

Enter first number: 12
Enter second number: 43
43 is greater than 12

In [54]:
#Program to convert days into weeks and years
days = input("Enter number of days: ")
week = int(days)/7
year = int(days)/365
print(days + " days in week = " + str(week))
print(days + " days in year = " + str(year))

Enter number of days: 365
365 days in week = 52.142857142857146
365 days in year = 1.0

In [50]:
#Program to convert seconds into minutes and hours
sec = input("Enter seconds: ")
min = int(sec) /60
hrs = int(sec) /3600
print(sec + " seconds in minutes = " + str(min))
print(sec + " seconds in hours = " + str(hrs))

Enter seconds: 4500
4500 seconds in minutes = 75.0
4500 seconds in hours = 1.25

In [58]:
#Program to solve the equation c=ax+by where a=5,b=6
x = input("Enter value of x: ")
y = input("Enter value of y: ")
a = 5
b = 6
c = (a*int(x)) + (b*int(y))
print("Value of c = " + str(c))

Enter value of x: 2
Enter value of y: 3
Value of c = 28

In [59]:
#Program to take a name from the user
name = input("Enter a name: ")
print("Hello " + name)

Enter a name: Saumya Deep
Hello Saumya Deep

In [67]:
#Program to check the given no. is odd or even
n = input("Enter a number: ")
if int(n)%2==0:
    print(n + " is a even number.")
else:
    print(n + " is odd number.")

Enter a number: 57
57 is odd number.

In [75]:
#Program to check whether entered year is leap year or not
year = int(input("Enter a year: "))
if year%400==0:
    print(str(year) + " is a leap year.")
elif year%4==0 and year%100!=0:
    print(str(year) + " is a leap year.")
else:
    print(str(year) + " is not a leap year.")

Enter a year: 2036
2036 is a leap year.

In [79]:
#Program to check whether the given number is divisible by 5 or not
n = input("Enter a number: ")
if int(n)%5==0:
    print(n + " is divisible by 5.")
else:
    print(n + " is not divisible by 5.")

Enter a number: 45
45 is divisible by 5.

In [92]:
#Program to calculate sum of digits of the given number
num = input("Enter a no.: ")
n = int(num)
sum = 0
while n!=0:
    rem = int(n%10)
    sum = sum + rem
    n = int(n/10)
print("Sum of digits of " + num + " = " + str(sum))

Enter a no.: 19263
Sum of digits of 19263 = 21

In [95]:
#Program to display 10 natural numbers and their sum
sum = 0
print("First 10 natural numbers: ")
for i in range(1,11):
    print(i)
    sum = sum + i
print("Sum of first 10 natural numbers = " + str(sum))

First 10 natural numbers:
1
2
3
4
5
6
7
8
9
10
Sum of first 10 natural numbers = 55

In [21]:
#Program to print fibonacci series
limit = int(input("Enter the limit: "))
a = 0
b = 1
sum = 0
print("Fibonacci Series: " + str(a) + " " + str(b),end=" ")
while sum<limit:
    sum = a + b
    if sum>=limit:
        break
    else:
        print(sum,end=" ")
    a = b
    b = sum

Enter the limit: 100
Fibonacci Series: 0 1 1 2 3 5 8 13 21 34 55 89

In [3]:
#Program to find factorial of a number
n = input("Enter a number: ")
fact = 1
for i in range(1,int(n)+1):
    fact = fact * i
print("Factorial of " + n + " = " + str(fact))

Enter a number: 5
Factorial of 5 = 120

In [10]:
#Program to check whether the given number is prime or not
n = input("Enter a number: ")
c = 0
for i in range(1,int(n)+1):
    if int(n)%i==0:
        c = c+1
if c==2:
    print(n + " is a prime number.")
elif int(n)==1:
    print(n + " is neither prime nor composite.")
else:
    print(n + " is not a prime number.")

Enter a number: 23
23 is a prime number.

In [4]:
#Program to print prime numbers between 1 to 100
c = 0
print("Prime numbers from 1-100")
print("1 is neither prime nor composite.")
for i in range(1,101):
    for j in range(1,i+1):
        if i%j==0:
            c = c+1
    if(c==2):
        print(i,end=" ")
    c=0

Prime numbers from 1-100
1 is neither prime nor composite.
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [12]:
#Program to calculate sum of series: 1 + 1/2 + 1/3 + ..... + 1/n
n = input("Enter the limit: ")
sum = 0
for i in range(1,int(n)+1):
    sum = sum + 1/i
print("Sum of series = " + str(sum))

Enter the limit: 10
Sum of series = 2.9289682539682538

In [12]:
#Program to display series and find sum of: 1 + 3 + 5 + ..... + n
n = input("Enter the limit: ")
sum = 0
i = 1
print("Series: ",end=" ")
while i<=int(n):
    print(i,end=" ")
    sum = sum + i
    i = i + 2
print("\nSum of series = " + str(sum))

Enter the limit: 10
Series:  1 3 5 7 9
Sum of series = 25

In [38]:
#Program to find greatest of three numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a==b and b==c:
    print(str(a) + " " + str(b) + " " + str(c) + " are equal.")
    print("Please enter different numbers to check the greatest.")
elif a>b:
    if a>c:
        print(str(a) + " is greatest")
    else:
        print(str(c) + " is greatest")
else:
    if b>c:
        print(str(b) + " is greatest")
    else:
        print(str(c) + " is greatest")

Enter first number: 5
Enter second number: 8
Enter third number: 2
8 is greatest

In [16]:
#Program to reverse digits of the given number
num = input("Enter a number: ")
n = int(num)
rev = 0
while n>1:
    rem = int(n)%10
    rev = rev*10+rem
    n = int(n)/10
print("Reverse of " + num + " = " + str(rev))

Enter a number: 47238
Reverse of 47238 = 83274

In [51]:
#Program to print multiplication table of the given number
n = input("Enter a number: ")
print("Multiplication table of " + n)
for i in range(1,11):
    mul = int(n)*i
    print(n + "x" + str(i) + "=" + str(mul))

Enter a number: 17
Multiplication table of 17
17x1=17
17x2=34
17x3=51
17x4=68
17x5=85
17x6=102
17x7=119
17x8=136
17x9=153
17x10=170

In [59]:
#Program to find perfect number
def perfect(n):
    sum = 0
    for i in range(1,n):
        if n%i==0:
            sum = sum + i
    return sum

num = int(input("Enter a number: "))
if perfect(num)==num:
    print(str(num) + " is a perfect number.")
else:
    print(str(num) + " is not a perfect number.")

Enter a number: 6
6 is a perfect number.

In [68]:
#Program to find GCD of two numbers
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
for i in range(1,n1+1):
    for j in range(1,n2+1):
        if n1%i==0 and n2%i==0:
            gcd=i
print(str(gcd) + " is the greatest common divisior of " + str(n1) + " & " + str(n2))

Enter first number: 24
Enter second number: 44
4 is the greatest common divisior of 24 & 44

In [81]:
#Program to display and sort list elements
list = []
n = int(input("Enter range: "))
for i in range(0,n):
    ele = int(input())
    list.append(ele)
list.sort()
print("Sorted Elements in assending order")
print(list)
list.reverse()
print("Sorted Elements in descending order")
print(list)

Enter range: 6
12
5
78
34
2
53
Sorted Elements in assending order
[2, 5, 12, 34, 53, 78]
Sorted Elements in descending order
[78, 53, 34, 12, 5, 2]

In [91]:
#Program to check entered string is palindrome or not without using function
s1 = input("Enter a string: ")
s2 = s1[::-1]
if s1==s2:
    print(s1 + " is a palindrome string.")
else:
    print(s1 +" is not a palindrome string.")

Enter a string: malayalam
malayalam is a palindrome string.

In [94]:
#Program to check entered string is palindrome or not using function
def ispalin(s):
    return s==s[::-1]
s = input("Enter a string: ")
if ispalin(s):
    print(s + " is a palindrome string.")
else:
    print(s + " is not a palindrome string.")

Enter a string: level
level is a palindrome string.

In [106]:
#Program to print the following pattern
#1
#12
#123

for i in range(1,4):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\r")

1
1 2
1 2 3

In [112]:
#Program to print the following pattern
#1
#23
#456

n = 1
for i in range(1,4):
    for j in range(1,i+1):
        print(n,end=" ")
        n = n + 1
    print("\r")

1
2 3
4 5 6

In [128]:
#Program to print the following pattern
#  *
# * *
#* * *

for i in range(1,4):
    for j in range(i,4):
        print(end=" ")
    for k in range(1,i+1):
        print("* ",end="")
    print("\r")

   *
  * *
 * * *

In [135]:
#Program to print the following pattern
#55555
# 4444
#  333
#   22
#    1

for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(end=" ")
    for k in range(i,0,-1):
        print(i,end="")
    print("\r")

55555
 4444
  333
   22
    1

In [140]:
#Program to print the multiplication table from 1 to 20.
for i in range(1,21):
    print("Multiplication table of " + str(i))
    for j in range(1,11):
        mul = i*j
        print(str(i) + " x " + str(j) + " = " + str(mul))
    print("\r")

Multiplication table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Multiplication table of 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

Multiplication table of 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Multiplication table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

Multiplication table of 14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

Multiplication table of 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

Multiplication table of 16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

Multiplication table of 17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

Multiplication table of 18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

Multiplication table of 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

Multiplication table of 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200